* {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.header-container {
  background-color: #A3A0A0;
  padding: 15px 100px;
}
.site-name {
  color: #fff;
  font-size: 28px;
}
.site-name::before {
  content: "";
  border-left: 1px solid #fff;
  margin-right: 20px;
  height: 28px;
}
