.top-message-wrapper {
  background-image: url("/images/man_thinking.jpg");
  background-size: cover;
  height: 526px;
  position: relative;
  margin-bottom: 105px;
}
.top-message-inner-wrapper {
  position: absolute;
  top: 217px;
  left: 270px;
}
.top-message {
  font-size: 30px;
  margin-bottom: 35px;
  line-height: 40px;
}
.ask-questions > a {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 22px;
}
.questions-list-wrapper {
  text-align: center;
  margin-bottom: 67.2px;
}
.questions-list-wrapper h2 {
  font-size: 40px;
  margin-bottom: 51.5px;
  font-weight: bold;
}
.questions-list {
  margin: 0 auto;
}
th, td{
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 18px 25px;
}
.article-title {
  width: 400px;
}
th:last-child, td:last-child {
  border-right: 0;
}
th {
  text-align: center;
  font-size: 30px;
}
td {
  text-align: center;
  font-size: 20px;
}
.fake-row > td {
  padding: 9px 25px;
  border-bottom: 0;
}
.page-bottom-wrapper {
  text-align: center;
  margin-bottom: 83px;
}
.ask-questions-bottom > a {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 18px 23px;
  font-size: 32px;
}